body {
  /* background-image: url(https://images.pexels.com/photos/1420008/pexels-photo-1420008.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); */
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: whitesmoke;
  text-align: center;
  color: #ceb3a2;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5em;
  text-shadow: 3px 3px tomato;
  font-family: 'Modak', cursive;
  -webkit-text-stroke: 1px black;
}

.btn {
  margin-bottom: 2%;
}

.jumbotron {
  background-image: url(https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  background-size: 100%;
  background-repeat: no-repeat;
  border-style: solid b;
  border-radius: 15px;
  margin-top: 2%;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.tablink {
  background-color: white;
  float: left;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: darkslategray;
  color: whitesmoke;
}

.tabcontent {
  display: none;
  padding: 50px;
  text-align: center;
}