body {
  background-image: url(https://images.pexels.com/photos/113335/pexels-photo-113335.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: scroll;
  background-color: whitesmoke;
  position: relative; 
  color: black;
  font-family: 'Merriweather', serif;
}

h1 {
  color: burlywood;
  line-height: .7em;
  font-size: 7em;
  text-shadow: 3px 3px tomato;
  font-family: 'Modak', cursive;
  -webkit-text-stroke: 1px black;
}

h2 {
  color: burlywood;
  text-shadow: 3px 3px tomato;
  font-family: 'Modak', cursive;
  -webkit-text-stroke: 1px black;
}

#icon {
  float: right;
  max-width: 125px;
  max-height: 100%;
}

#navbar {
  margin-bottom: 75px;
}

.container {
  margin-bottom: 10px;
}

button:focus { 
  outline: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#content {
  margin-bottom: 3%;
  padding: 2%;
  background-color: rgba(245, 245, 245, 0.74);
  border: solid 1px #343a40;
  border-radius: 10px;
}

.container {
  margin-top: 3%;
}

.btn {
  margin-bottom: 2%;
}

.form-control {
  margin-bottom: 5px;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#topnav {
  margin-top: 0px;
}

.tablink {
  float: left;
  border: solid 2px #343a40;
  border-radius: 10px;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #343a40;
  color: whitesmoke;
}

.tabcontent {
  padding-top: 60px;
  text-align: center;
}

.map-img {
  margin: 2%;
}

input {
  text-align: center;
}

#zip-code {
  width: 30%;
  display: inline-block;
}

output {
  display: inline;
}

#showMap {
  display: none;
}